@tailwind base;
@tailwind components;
@tailwind utilities;

/* Object Sans Is not free so i use the font . */

body {
  font-family: "Inter", sans-serif;
}

/* Custom styles for the slider dots */
.slick-dots li button:before {
  color: #FFD700;
  /* Custom color for the dots (gold in this case) */
  font-size: 12px;
  /* Adjust the size if needed */
}

.slick-dots li.slick-active button:before {
  color: #FF4500;
  /* Custom color for the active dot (orange-red in this case) */
}

.slider-container {
  margin-left: -15px;
  /* Adjust as needed */
}

.range-slider {
  background-color: #FDE8E9 !important;
  height: 4px !important;
}

.range-slider .range-slider__thumb {
  background-color: red !important;
  width: 15px !important;
  height: 15px !important;

}

.range-slider .range-slider__range {
  background-color: red !important;
}

.checkbox {
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
}

.pagination .active>.page-link {
  background-color: #444955 !important;
  color: white !important;
}

.pagination .page-link {
  color: black !important;
}

.responsive {
  height: fit-content !important;
  background-color: white;

}

/* Stapper */

.siteBody {
  height: calc(100% - 164px);
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 8px 14px -17px #111;
  width: 100%;
}

.sideBar {
  height: 100%;
  width: 400px;
  height: 100%;
}

.stepSummary {
  width: 80px;
  height: 100%;
}

.mainSection {
  height: 50%;
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}

._TnRfYcVLEfim2hEneRQ {
  border: 7px solid #ff00d9 !important;
  ;
}


/* Stepper */
.steps-vertical .step:before {
  width: 3px !important;
}

.steps .step:before {
  background-color: #ED1C24 !important;
}

.steps .step:after {
  color: oklch(0.28 0.03 256.85 / 0) !important;
  background-color: #ED1C24 !important;
  border: 3px solid white !important;
}

/* Form colour */
.select:focus {
  outline-style: none !important;
}